@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 0px;
  overflow: 0px;
  background-color: #E3B04B;
}


canvas {
  background-color: #E3B04B;
}

.change {
  position: absolute;
  left: 330px;
  top: 696px;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 0);
  box-shadow: none;
  border: none;
  outline: none;
}

.ani {
  position: absolute;
  left: 79.5px;
  top: 325px;
  width: 234px;
  height: 0px;
  bottom: 10px;
  border-radius: 4px;
  background-color: #F1D6AB;
  border: none;
  outline: none;
  transform: rotatex(180deg);
  transform-origin: top;
}

@keyframes example {
  0%   {height: 0px;}
  50%  {height: 96px;}
  100% {height: 0px;}
}

.grow {
  animation-name: example;
  animation-duration: 1.3s;
}
